aws-cdk-lib
constructs
boto3
botocore
langchain_aws
numpy
opensearch_py
PyYAML==6.0.2
PyYAML==6.0.2
requests_aws4auth
st_star_rating==0.0.6
streamlit==1.41.1
streamlit_authenticator==0.4.1
tiktoken==0.8.0